Repository karopolopoulos/apigee-aws-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --format codeframe --fix, prettier --write

.lintstagedrc:

{
  "*.js": [
    "eslint --format codeframe --fix"
  ],
  "*.md": [
    "prettier --write"
  ]
}

1.1.15
  package-lock.json
  package.json
Due: none

updated packages to latest
  package-lock.json
  package.json
Due: none

updated linting
  .eslintrc
  .eslintrc.yml
  .huskyrc
  .huskyrc.yml
  .lintstagedrc
  .lintstagedrc.yml
  .prettierrc
  .prettierrc.yml
  lib/helpers/http.js
  lib/helpers/signRequest.js
  lib/helpers/utilities.js
  lib/modules/lambda.js
  lib/modules/sts.js
  test/helpers/http.test.js
  test/helpers/signRequest.test.js
  test/helpers/utilities.test.js
  test/modules/core.test.js
  test/modules/lambda.test.js
  test/modules/sts.test.js
Due: eslint --format codeframe --fix

added kinesis streams putRecords
  clients/kinesis.js
  index.js
  lib/index.js
  lib/modules/kinesis.js
  package-lock.json
  package.json
  test/helpers/signRequest.test.js
  test/index.test.js
  test/modules/kinesis.test.js
  test/modules/sts.test.js
Due: eslint --format codeframe --fix

added kinesis specs
  docs/api.md
Due: prettier --write

1.2.0
  package-lock.json
  package.json
Due: none

removed test file
  index.js
Due: eslint --format codeframe --fix

1.2.1
  package-lock.json
  package.json
Due: none

changed linter rules
  .prettierrc.yml
  lib/helpers/http.js
  lib/helpers/signRequest.js
  lib/modules/kinesis.js
  lib/modules/lambda.js
  lib/modules/sts.js
  test/helpers/http.test.js
  test/helpers/signRequest.test.js
  test/helpers/utilities.test.js
  test/modules/core.test.js
  test/modules/kinesis.test.js
  test/modules/lambda.test.js
  test/modules/sts.test.js
Due: eslint --format codeframe --fix

1.2.2
  package-lock.json
  package.json
Due: none

removed axios
  package.json
Due: none

1.2.3
  package-lock.json
  package.json
Due: none

downgraded version of crypto-js
  .prettierrc.yml
  lib/helpers/http.js
  lib/helpers/signRequest.js
  lib/modules/kinesis.js
  lib/modules/lambda.js
  lib/modules/sts.js
  package-lock.json
  package.json
  test/helpers/http.test.js
  test/helpers/signRequest.test.js
  test/helpers/utilities.test.js
  test/modules/core.test.js
  test/modules/kinesis.test.js
  test/modules/lambda.test.js
  test/modules/sts.test.js
Due: eslint --format codeframe --fix

1.2.4
  package-lock.json
  package.json
Due: none

revamp of the http library
  lib/helpers/http.js
  lib/helpers/utilities.js
  lib/modules/core.js
  lib/modules/kinesis.js
  lib/modules/lambda.js
  lib/modules/sts.js
  package-lock.json
  package.json
  test/helpers/http.test.js
  test/modules/core.test.js
  test/modules/kinesis.test.js
  test/modules/lambda.test.js
  test/modules/sts.test.js
Due: eslint --format codeframe --fix

1.3.0
  package-lock.json
  package.json
Due: none

kinesis can now handle creating buffer fron string
  .eslintrc.yml
  lib/helpers/utilities.js
  lib/modules/kinesis.js
  package.json
  test/modules/kinesis.test.js
Due: eslint --format codeframe --fix

1.3.1
  package-lock.json
  package.json
Due: none
