Repository karopolopoulos/apigee-aws-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --format codeframe --fix, prettier --write

added badge
  README.md
Due: prettier --write

moved tests
  package.json
  test/index.test.js
Due: eslint --format codeframe --fix

updated README
  README.md
Due: prettier --write

update to node 8.12
  package-lock.json
  package.json
Due: none

1.0.1
  package-lock.json
  package.json
Due: none

added github action for testing
  .github/workflows/ci.yml
Due: none

added github action badge
  .github/workflows/main.yml
  README.md
Due: prettier --write

fixed badge
  README.md
Due: prettier --write

added step to push to npm
  .github/workflows/main.yml
Due: none

added tests for everything
  .eslintrc
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/lcov-report/base.css
  coverage/lcov-report/block-navigation.js
  coverage/lcov-report/helpers/index.html
  coverage/lcov-report/helpers/signRequest.js.html
  coverage/lcov-report/index.html
  coverage/lcov-report/modules/index.html
  coverage/lcov-report/modules/lambda.js.html
  coverage/lcov-report/prettify.css
  coverage/lcov-report/prettify.js
  coverage/lcov-report/signRequest.js.html
  coverage/lcov-report/sort-arrow-sprite.png
  coverage/lcov-report/sorter.js
  coverage/lcov.info
  lib/common/utilities.js
  lib/helpers/signRequest.js
  lib/modules/lambda.js
  package.json
  test/helpers/signRequest.test.js
  test/index.test.js
  test/modules/lambda.test.js
Due: eslint --format codeframe --fix

fixed pipeline
  .github/workflows/main.yml
Due: none

syntax error on github action
  .github/workflows/main.yml
Due: none

updated readme to add api
  README.md
Due: prettier --write

removed coverage folder
  .gitignore
  README.md
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/lcov-report/base.css
  coverage/lcov-report/block-navigation.js
  coverage/lcov-report/helpers/index.html
  coverage/lcov-report/helpers/signRequest.js.html
  coverage/lcov-report/index.html
  coverage/lcov-report/modules/index.html
  coverage/lcov-report/modules/lambda.js.html
  coverage/lcov-report/prettify.css
  coverage/lcov-report/prettify.js
  coverage/lcov-report/signRequest.js.html
  coverage/lcov-report/sort-arrow-sprite.png
  coverage/lcov-report/sorter.js
  coverage/lcov.info
Due: eslint --format codeframe --fix, prettier --write

added git attributes file
  .gitattributes
Due: none

updated documentation
  README.md
Due: prettier --write

1.1.0
  package-lock.json
  package.json
Due: none

added defaults for InvocationType
  lib/modules/lambda.js
  test/modules/lambda.test.js
Due: eslint --format codeframe --fix

1.1.1
  package-lock.json
  package.json
Due: none

removed ability to import specifc module
  README.md
Due: prettier --write

1.1.2
  package-lock.json
  package.json
Due: none

fixed syntax error in readme
  README.md
Due: prettier --write

1.1.3
  package-lock.json
  package.json
Due: none

removed default param for lambda invoke
  lib/modules/lambda.js
Due: eslint --format codeframe --fix

1.1.4
  package-lock.json
  package.json
Due: none

added http helper
  lib/helpers/http.js
  lib/modules/lambda.js
  test/helpers/http.test.js
  test/modules/lambda.test.js
Due: eslint --format codeframe --fix

added test for http helper
  test/helpers/http.test.js
Due: eslint --format codeframe --fix

1.1.5
  package-lock.json
  package.json
Due: none

t push 1.1.5
  lib/modules/lambda.js
  package-lock.json
  package.json
Due: eslint --format codeframe --fix

1.1.6
  package-lock.json
  package.json
Due: none

changed signature test to lambda
  test/helpers/signRequest.test.js
Due: eslint --format codeframe --fix

1.1.7
  package-lock.json
  package.json
Due: none

changed logic for adding on Qualifier at end of path
  lib/modules/lambda.js
Due: eslint --format codeframe --fix

1.1.8
  package-lock.json
  package.json
Due: none

added extra step to bundle guide
  README.md
Due: prettier --write

1.1.9
  package-lock.json
  package.json
Due: none

added license
  LICENSE
Due: none

renamed package
  package.json
Due: none

Path conditions:
  eslint --format codeframe --fix: any of: *.js
  prettier --write: any of: *.md
