Repository karopolopoulos/apigee-aws-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --format codeframe --fix, prettier --write

.lintstagedrc:

{
  "*.js": [
    "eslint --format codeframe --fix",
    "git add"
  ],
  "*.md": [
    "prettier --write",
    "git add"
  ]
}

1.0.1
  package-lock.json
  package.json
Due: none

1.0.2
  package-lock.json
  package.json
Due: none

1.0.3
  package-lock.json
  package.json
Due: none

updated documentation
  README.md
  docs/api.md
  docs/guides.md
  package.json
Due: prettier --write

1.0.4
  package-lock.json
  package.json
Due: none

refactored lambda and helpers
  lib/helpers/http.js
  lib/helpers/signRequest.js
  lib/helpers/utilities.js
  lib/modules/core.js
  lib/modules/lambda.js
  test/helpers/signRequest.test.js
  test/helpers/utilities.test.js
  test/modules/core.test.js
  test/modules/lambda.test.js
Due: eslint --format codeframe --fix

1.0.5
  package-lock.json
  package.json
Due: none

added STS moduel
  .eslintrc
  README.md
  lib/helpers/signRequest.js
  lib/modules/lambda.js
  lib/modules/sts.js
  test/helpers/signRequest.test.js
  test/modules/core.test.js
  test/modules/lambda.test.js
  test/modules/sts.test.js
Due: eslint --format codeframe --fix, prettier --write

1.1.0
  package-lock.json
  package.json
Due: none

added api spec for sts assume role
  docs/api.md
Due: prettier --write

1.1.1
  package-lock.json
  package.json
Due: none

removed hard coded date
  lib/modules/sts.js
Due: eslint --format codeframe --fix

1.1.2
  package-lock.json
  package.json
Due: none

updated packages to latest
  package-lock.json
  package.json
Due: none

1.1.3
  package-lock.json
  package.json
Due: none

removed git add from lintstagedrc
  .lintstagedrc
Due: none

1.1.4
  package-lock.json
  package.json
Due: none

changed github actions node version
  .github/workflows/main.yml
Due: none

1.1.5
  package-lock.json
  package.json
Due: none

added npmignore file
  .gitignore
  .npmignore
Due: none

1.1.6
  package-lock.json
  package.json
Due: none

added clients for individual require
  README.md
  clients/lambda.js
  clients/sts.js
  lib/index.js
Due: eslint --format codeframe --fix, prettier --write

1.1.7
  package-lock.json
  package.json
Due: none

downgraded to crypto 3.1.9
  package-lock.json
  package.json
Due: none

1.1.8
  package-lock.json
  package.json
Due: none

updated crypto to 3.3.0
  package.json
Due: none

1.1.9
  package-lock.json
  package.json
Due: none

removed object destructuring
  lib/helpers/utilities.js
  lib/index.js
Due: eslint --format codeframe --fix

1.1.10
  package-lock.json
  package.json
Due: none

updated STS to convert xml to json
  lib/helpers/http.js
  lib/modules/sts.js
  package-lock.json
  package.json
  test/helpers/http.test.js
  test/modules/sts.test.js
Due: eslint --format codeframe --fix

1.1.11
  package-lock.json
  package.json
Due: none

can now handle xml response for success
  lib/helpers/http.js
  lib/modules/sts.js
Due: eslint --format codeframe --fix

pending writing tests
  lib/helpers/http.js
  lib/modules/sts.js
Due: eslint --format codeframe --fix

added unit tests
  lib/helpers/http.js
  lib/modules/sts.js
  test/helpers/http.test.js
  test/modules/sts.test.js
Due: eslint --format codeframe --fix

1.1.12
  package-lock.json
  package.json
Due: none

updated error handling for sts
  lib/modules/sts.js
  test/modules/sts.test.js
Due: eslint --format codeframe --fix

1.1.13
  package-lock.json
  package.json
Due: none

converted apigee request to async
  lib/helpers/http.js
  lib/modules/lambda.js
  lib/modules/sts.js
  test/helpers/http.test.js
Due: eslint --format codeframe --fix

1.1.14
  package-lock.json
  package.json
Due: none

updated packages
  package-lock.json
  package.json
Due: none
